

.topIngredientOption,
.topfrostIngredientOption

 {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: inline-block;
    margin: 3px;
    text-align: left;
    min-height: 13rem;

}


.sideIngredientOption,
.botfrostIngredientOption
{
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
  padding: 10px;
  display: inline-block;
  margin: 3px;
  text-align: left;
  min-height: 11rem;

}

.topping1IngredientOption,
.topping2IngredientOption,
.topping3IngredientOption
{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.75);
    padding: 10px;
    display: inline-block;
    margin: 3px;
    text-align: left;
    
    
    
}


.radioUnselect
{
 font-weight: lighter;
}
.radioSelect
{
 font-weight: bolder;
}






  