
.splitRight{
    height: 100%;
    width: 50%;
    /* position: relative; */
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    /* background-color: red; */
    column-count: 2;
    

}
  .grid-container {
    /* display: grid; */
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 500px;
    right: 0;
    
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .cakePic{
    margin-left: 50%;
    right:0px
  }